In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

1.0 Battles

In [33]:
#wrangle function

def wrangle_1(file):
    
    #read csv file
    df = pd.read_csv(file)

    #columns to drop
    cols_to_drop = ['attacker_2', 'attacker_3', 'attacker_4', 'defender_2','defender_3', 'defender_4', 'note'] 
    
    #drop columns
    df.drop(columns=cols_to_drop, inplace=True)

    #Impute missing values with mode for categorical features
    cat_cols = df.select_dtypes('object').columns
    for col in cat_cols:
        df[col].fillna(df[col].mode()[0], inplace=True)
    
    #Impute missing values with mean for numerical features
    num_cols = df.select_dtypes(['int','float']).columns
    for feature in num_cols:
        df1[feature].fillna(df[feature].median(), inplace=True)

    #remove outlier
    
    mask_a = df['attacker_size'] < 100000

    df = df[mask_a]
       
    #return a dataframe
    return df

2.0 Character Deaths

In [34]:
def wrangle_2(file):

    #read csv file into dataframe
    df = pd.read_csv(file)

    #drop missing values
    df.dropna(inplace=True)

    return  df

In [64]:
def wrangle_3(file):
    #load csv
    df = pd.read_csv(file)
    
    cols_cat = df.select_dtypes('object').columns
    for col in cols_cat:
        df[col].fillna(df[col].mode()[0], inplace=True)
    

    #Impute missing numerical values using KNN
    cols_to_impute =  df.select_dtypes(['float64', 'int64']).columns

    #Instantiate KNN
    imputer = KNNImputer(n_neighbors=2) 

    #apply knn to selected columns
    df[cols_to_impute]= imputer.fit_transform(df[cols_to_impute])

    return df

In [65]:
df = wrangle_3('character-predictions.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1946 entries, 0 to 1945
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No               1946 non-null   float64
 1   actual             1946 non-null   float64
 2   pred               1946 non-null   float64
 3   alive              1946 non-null   float64
 4   plod               1946 non-null   float64
 5   name               1946 non-null   object
 6   title              1946 non-null   object
 7   male               1946 non-null   float64
 8   culture            1946 non-null   object
 9   dateOfBirth        1946 non-null   float64
 10  DateoFdeath        1946 non-null   float64
 11  mother             1946 non-null   object
 12  father             1946 non-null   object
 13  heir               1946 non-null   object
 14  house              1946 non-null   object
 15  spouse             1946 non-null   object
 16  book1              1946 non-null   float64
 17  book2              1946 non-null   float64
 18  book3              1946 non-null   float64
 19  book4              1946 non-null   float64
 20  book5              1946 non-null   float64
 21  isAliveMother      1946 non-null   float64
 22  isAliveFather      1946 non-null   float64
 23  isAliveHeir        1946 non-null   float64
 24  isAliveSpouse      1946 non-null   float64
 25  isMarried          1946 non-null   float64
 26  isNoble            1946 non-null   float64
 27  age                1946 non-null   float64
 28  numDeadRelations   1946 non-null   float64
 29  boolDeadRelations  1946 non-null   float64
 30  isPopular          1946 non-null   float64
 31  popularity         1946 non-null   float64
 32  isAlive            1946 non-null   float64
dtypes: float64(25), object(8)
memory usage: 501.8+ KB